/** Main background */
div.c-virtual_list__scroll_container { background-color: var(--background) !important; }

/** Make hovered messages match background.  Maybe can be removed? */
div.c-message:hover { background-color: var(--background) !important; }

/** Highlight hovered messages. */
div.c-message.c-message--light.c-message--hover {
    /** Makes the timestamp slightly lighter. */
    color:            var(--text-light) !important;
    background-color: var(--background-light) !important;
}

/** Main chat window, normal text. */
span.c-message__body { color: var(--text) !important; }

/*!** Main chat window, link to message sender. *!*/
a.c-message__sender_link { color: var(--text) !important; }

/** Main chat window, @tag background. */
.c-member_slug--link { background: var(--text-dark); }

/** Main chat window, @tag background, hover directly over tag. */
.c-member_slug--link:hover { background: var(--background-dark); }

/** Main chat window, secondary @tag colors. */
.c-mrkdwn__user_group--link { color: var(--text-special) !important; }

/** Main chat window, secondary @tag background. */
.c-deprecated_button--link { background: var(--background-dark); }

/** Main chat window, secondary @tag background, hover directly over tag. */
.c-deprecated_button--link:hover { background: var(--background); }

/** Message entry area. */
.ql-editor { background: var(--background-dark); }

/** Message placeholder text color. */
.ql-placeholder { color: var(--text-light) !important; }

/** Top divider line. */
.c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before { background: var(--background-light) !important; }

/** Top divider pill thingy?  It tells you what day you're looking at in the chat history, top of the window. */
.c-message_list__day_divider__label__pill {
    background: var(--background-light);
    color:      var(--text-special);
}

/** Background for message reactions. */
.c-reaction {
    background: var(--background-dark);
    border:     1px solid var(--background-light);
}

/** Text color for quoted messages and file attachments */
.c-message_attachment__text { color: var(--text-special) !important; }

/** Color of links back to quoted/attached messages. */
.c-message_attachment__author_name { color: var(--text-special) !important; }
