/** Customizable colors! */
:root {
    --text:             #afafaf;
    --text-light:       #ffffff;
    --test-special:     #A9B7C6;
    --background:       #2B2B2B;
    --background-light: #3c3f41;
    --background-dark:  #25272a;
}
