/** Special (debugging) colors. */
root {
    --debug-white: #ffffff;
    --debug-black: #000000;
}

/** Darcula colors. */
:root {
    /** Text colors. */
    --darcula-text:                        #a9b7c6;
    --darcula-comment-text:                #808080;
    --darcula-keyword-text:                #cc7832;
    --darcula-annotation-text:             #bbb529;
    --darcula-string-text:                 #6a8759;
    --darcula-number-text:                 #6897bb;
    --darcula-field-text:                  #9876aa;
    --darcula-comment-tag-text:            #8a653b;

    /** Background colors. */
    --darcula-editor-background:           #2b2b2b;
    --darcula-gutter-background:           #313335;
    --darcula-project-background:          #3c3f41;
    --darcula-project-selected-background: #0d293e;
    --darcula-project-library-background:  #49473f;
}

/** Customizable colors. */
:root {
    /** Text colors. */
    --text:               var(--darcula-text);
    --text-sender:        var(--darcula-comment-tag-text);
    --text-link:          var(--darcula-string-text);
    --text-dark:          var(--darcula-comment-text);
    --text-light:         var(--darcula-number-text);
    --text-special:       var(--darcula-field-text);

    /** Link colors. */

    /** Background colors. */
    --background:         var(--darcula-editor-background);
    --background-light:   var(--darcula-project-background);
    --background-dark:    var(--darcula-project-selected-background);
    --background-special: var(--darcula-gutter-background);
    --background-tag:       var(--darcula-project-selected-background);
    --background-tag-hover: var(--darcula-string-text);
    --background-input:     var(--darcula-project-selected-background);
    --background-sidebar:   var(--darcula-project-background);

    /** Tag colors. */
    --tag-background:       var(--darcula-project-selected-background);
    --tag-background-hover: var(--darcula-string-text);
    --tag-text:             var(--darcula-comment-tag-text);
    --tag-text-hover:       var(--darcula-keyword-text);

    /** Divider colors. */
    --divider-color:        var(--darcula-comment-text);
    --divider-text:         var(--darcula-comment-text);

    /** Input colors. */
}
